# Generic files
*~
*.orig
*.a

# Visual Studio intermediate files
*.aps
*.APS
*.bak
*.ipch
*.opensdf
*.ncb
*.pch
*.pdb
*.sdf
*.sln.cache
*.suo
*.vcproj.*.user
*.vcxproj.user
*.db
*.ldf
qwebp.dll
qwbmp.dll
qtaccessiblewidgets.dll
qtiff.dll
qtga.dll
Qt5Widgets.dll
qsvg.dll
qoffscreen.dll
Qt5Core.dll
qmng.dll
qminimal.dll
Qt5Gui.dll
qico.dll
qdds.dll
qjpeg.dll
qjp2.dll
qgif.dll
qicns.dll
icuuc52.dll
icuin52.dll
icudt52.dll
icuuc54.dll
icuin54.dll
icudt54.dll
qwindows.dll
DBManager.dll
Sources/BUSMASTER/Application/BUSMASTER_Interface.c
Sources/BUSMASTER/Application/BUSMASTER_Interface.h
Sources/BUSMASTER/Application/LDFLexer.c
Sources/BUSMASTER/Application/ldfparser.cpp
Sources/BUSMASTER/Application/ldfparser.cpp.output
Sources/BUSMASTER/Application/ldfparser.cpp.h
Sources/BUSMASTER/BusEmulation/BusEmulation.h
Sources/BUSMASTER/BusEmulation/BusEmulation_i.c
Sources/BUSMASTER/BusEmulation/BusEmulation_p.c
Sources/BUSMASTER/BusEmulation/dlldata.c
Sources/BUSMASTER/EXTERNAL/DmGraph/DMGraph.h
Sources/BUSMASTER/EXTERNAL/DmGraph/DMGraph.tlb
Sources/BUSMASTER/EXTERNAL/DmGraph/DMGraph_i.c
Sources/BUSMASTER/EXTERNAL/DmGraph/DMGraph_p.c
Sources/BUSMASTER/Format Converter/AscLogConverter/Asc_Log_Lexer.c
Sources/BUSMASTER/Format Converter/AscLogConverter/asc_log_parser.c
Sources/BUSMASTER/Format Converter/AscLogConverter/Asc_Log_Parser.h
Sources/BUSMASTER/Format Converter/CAPL2CConverter/CAPL_C_Lexer.h
Sources/BUSMASTER/Format Converter/DBC2DBFConverterLibrary/dbc_dbf_Lexer.c
Sources/BUSMASTER/Format Converter/LogAscConverter/Log_Asc_Lexer.c
Sources/BUSMASTER/Format Converter/LogAscConverter/log_asc_parser.c
Sources/BUSMASTER/Format Converter/LogAscConverter/log_asc_parser.h
Sources/BUSMASTER/TestSuiteExecutorGUI/lexer.c
Sources/BUSMASTER/TestSuiteExecutorGUI/parser.c
Sources/BUSMASTER/TestSuiteExecutorGUI/parser.h
Sources/DBManager/LDFGrammerLexer.cpp
Sources/DBManager/LDFGrammerLexer.hpp
Sources/DBManager/LDFGrammerParser.cpp
Sources/DBManager/LDFGrammerParser.hpp
Sources/DBManager/ANTLR3/include
.vs

# Release dirs (except BIN)
Sources/BUSMASTER/Application/Release
Sources/BUSMASTER/BusEmulation/Release
Sources/BUSMASTER/CAN_ETAS_BOA/Release
Sources/BUSMASTER/CAN_ICS_neoVI/Release
Sources/BUSMASTER/CAN_iVIEW/Release
Sources/BUSMASTER/CAN_ISOLAR_EVE_VCAN/Release
Sources/BUSMASTER/CAN_IXXAT_VCI/Release
Sources/BUSMASTER/CAN_Kvaser_CAN/Release
Sources/BUSMASTER/CAN_MHS/Release
Sources/BUSMASTER/CAN_NSI/Release
Sources/BUSMASTER/CAN_STUB/Release
Sources/BUSMASTER/CAN_Vector_XL/Release
Sources/BUSMASTER/CAN_VSCOM/Release
Sources/BUSMASTER/CommonClass/Release
Sources/BUSMASTER/ConfigDialogsDIL/Release
Sources/BUSMASTER/DataTypes/Release
Sources/BUSMASTER/DIL_Interface/Release
Sources/BUSMASTER/DIL_J1939/Release
Sources/BUSMASTER/EXTERNAL/*/Release
Sources/BUSMASTER/Filter/Release
Sources/BUSMASTER/FLEXRAY_ETAS_BOA/Release
Sources/BUSMASTER/Format Converter/Release
Sources/BUSMASTER/Format Converter/*/Release
Sources/BUSMASTER/FrameProcessor/Release
Sources/BUSMASTER/LIN_ETAS_BOA/Release
Sources/BUSMASTER/LIN_ISOLAR_EVE_VLIN/Release
Sources/BUSMASTER/LIN_PEAK_USB/Release
Sources/BUSMASTER/LIN_Vector_XL/Release
Sources/BUSMASTER/MHS_CNFG/Release
Sources/BUSMASTER/NodeSimEx/Release
Sources/BUSMASTER/ProjectConfiguration/Release
Sources/BUSMASTER/PSDI_CAN/Release
Sources/BUSMASTER/Replay/Release
Sources/BUSMASTER/SigGrphWnd/Release
Sources/BUSMASTER/SignalDefiner/Release
Sources/BUSMASTER/SignalWatch/Release
Sources/BUSMASTER/TestSetupEditorGUI/Release
Sources/BUSMASTER/TestSetupEditorLib/Release
Sources/BUSMASTER/TestSuiteExecutorGUI/Release
Sources/BUSMASTER/TXWindow/Release
Sources/BUSMASTER/TXWindowFlexRay/Release
Sources/BUSMASTER/TXWindowLIN/Release
Sources/BUSMASTER/UDS_Protocol/Release
Sources/BUSMASTER/Utility/Release
Sources/BUSMASTER/LDFEditor/Release
Sources/BUSMASTER/LDFViewer/Release
Sources/BUSMASTER/DBManager/Release
Sources/BUSMASTER/Language Dlls/JPN/BUSMASTERJPN/Release
Sources/BUSMASTER/Language Dlls/JPN/CAN_ETAS_BOAJPN/Release
Sources/BUSMASTER/Language Dlls/JPN/CAN_ICS_neoVIJPN/Release
Sources/BUSMASTER/Language Dlls/JPN/CAN_IXXAT_VCIJPN/Release
Sources/BUSMASTER/Language Dlls/JPN/CAN_Kvaser_CANJPN/Release
Sources/BUSMASTER/Language Dlls/JPN/CAN_MHSJPN/Release
Sources/BUSMASTER/Language Dlls/JPN/CAN_PEAK_USBJPN/Release
Sources/BUSMASTER/Language Dlls/JPN/CAN_Vector_XLJPN/Release
Sources/BUSMASTER/Language Dlls/JPN/DMGraphJPN/Release
Sources/BUSMASTER/Language Dlls/JPN/FilterJPN/Release
Sources/BUSMASTER/Language Dlls/JPN/FormatConverterJPN/Release
Sources/BUSMASTER/Language Dlls/JPN/MHS_CNFGJPN/Release
Sources/BUSMASTER/Language Dlls/JPN/NodeSimExJPN/Release
Sources/BUSMASTER/Language Dlls/JPN/ReplayJPN/Release
Sources/BUSMASTER/Language Dlls/JPN/SigGrphWndJPN/Release
Sources/BUSMASTER/Language Dlls/JPN/SignalDefinerJPN/Release
Sources/BUSMASTER/Language Dlls/JPN/SignalWatchJPN/Release
Sources/BUSMASTER/Language Dlls/JPN/TestSetupEditorGUIJPN/Release
Sources/BUSMASTER/Language Dlls/JPN/TestSuiteExecutorGUIJPN/Release
Sources/Kernel/BusmasterDBNetwork/Release
Sources/Kernel/BusmasterDriverInterface/DIL_J1939/Release
Sources/Kernel/BusmasterDriverInterface/Release
Sources/Kernel/BusmasterKernel/Release
Sources/Kernel/Utilities/Release
Sources/BUSMASTER/BIN/Release/platforms/

# Debug dirs (except BIN)
Sources/BUSMASTER/Application/Debug
Sources/BUSMASTER/BusEmulation/Debug
Sources/BUSMASTER/CAN_ETAS_BOA/Debug
Sources/BUSMASTER/CAN_ICS_neoVI/Debug
Sources/BUSMASTER/CAN_iVIEW/Debug
Sources/BUSMASTER/CAN_ISOLAR_EVE_VCAN/Debug
Sources/BUSMASTER/CAN_IXXAT_VCI/Debug
Sources/BUSMASTER/CAN_Kvaser_CAN/Debug
Sources/BUSMASTER/CAN_MHS/Debug
Sources/BUSMASTER/CAN_NSI/Debug
Sources/BUSMASTER/CAN_STUB/Debug
Sources/BUSMASTER/CAN_Vector_XL/Debug
Sources/BUSMASTER/CAN_VSCOM/Debug
Sources/BUSMASTER/CommonClass/Debug
Sources/BUSMASTER/ConfigDialogsDIL/Debug
Sources/BUSMASTER/DataTypes/Debug
Sources/BUSMASTER/DIL_Interface/Debug
Sources/BUSMASTER/DIL_J1939/Debug
Sources/BUSMASTER/EXTERNAL/*/Debug
Sources/BUSMASTER/EXTERNAL/*/DebugU
Sources/BUSMASTER/EXTERNAL/*/ReleaseUMinSize
Sources/BUSMASTER/Filter/Debug
Sources/BUSMASTER/FLEXRAY_ETAS_BOA/Debug
Sources/BUSMASTER/Format Converter/Debug
Sources/BUSMASTER/Format Converter/*/Debug
Sources/BUSMASTER/FrameProcessor/Debug
Sources/BUSMASTER/LIN_ETAS_BOA/Debug
Sources/BUSMASTER/LIN_ISOLAR_EVE_VLIN/Debug
Sources/BUSMASTER/LIN_PEAK_USB/Debug
Sources/BUSMASTER/LIN_Vector_XL/Debug
Sources/BUSMASTER/MHS_CNFG/Debug
Sources/BUSMASTER/NodeSimEx/Debug
Sources/BUSMASTER/ProjectConfiguration/Debug
Sources/BUSMASTER/PSDI_CAN/Debug
Sources/BUSMASTER/Replay/Debug
Sources/BUSMASTER/SigGrphWnd/Debug
Sources/BUSMASTER/SignalDefiner/Debug
Sources/BUSMASTER/SignalWatch/Debug
Sources/BUSMASTER/TestSetupEditorGUI/Debug
Sources/BUSMASTER/TestSetupEditorLib/Debug
Sources/BUSMASTER/TestSuiteExecutorGUI/Debug
Sources/BUSMASTER/TXWindow/Debug
Sources/BUSMASTER/TXWindowFlexRay/Debug
Sources/BUSMASTER/TXWindowLIN/Debug
Sources/BUSMASTER/UDS_Protocol/Debug
Sources/BUSMASTER/Utility/Debug
Sources/BUSMASTER/LDFEditor/Debug
Sources/BUSMASTER/LDFViewer/Debug
Sources/BUSMASTER/DBManager/Debug
Sources/BUSMASTER/Language Dlls/JPN/BUSMASTERJPN/Debug
Sources/BUSMASTER/Language Dlls/JPN/CAN_ETAS_BOAJPN/Debug
Sources/BUSMASTER/Language Dlls/JPN/CAN_ICS_neoVIJPN/Debug
Sources/BUSMASTER/Language Dlls/JPN/CAN_IXXAT_VCIJPN/Debug
Sources/BUSMASTER/Language Dlls/JPN/CAN_Kvaser_CANJPN/Debug
Sources/BUSMASTER/Language Dlls/JPN/CAN_MHSJPN/Debug
Sources/BUSMASTER/Language Dlls/JPN/CAN_PEAK_USBJPN/Debug
Sources/BUSMASTER/Language Dlls/JPN/CAN_Vector_XLJPN/Debug
Sources/BUSMASTER/Language Dlls/JPN/DMGraphJPN/Debug
Sources/BUSMASTER/Language Dlls/JPN/FilterJPN/Debug
Sources/BUSMASTER/Language Dlls/JPN/FormatConverterJPN/Debug
Sources/BUSMASTER/Language Dlls/JPN/MHS_CNFGJPN/Debug
Sources/BUSMASTER/Language Dlls/JPN/NodeSimExJPN/Debug
Sources/BUSMASTER/Language Dlls/JPN/ReplayJPN/Debug
Sources/BUSMASTER/Language Dlls/JPN/SigGrphWndJPN/Debug
Sources/BUSMASTER/Language Dlls/JPN/SignalDefinerJPN/Debug
Sources/BUSMASTER/Language Dlls/JPN/SignalWatchJPN/Debug
Sources/BUSMASTER/Language Dlls/JPN/TestSetupEditorGUIJPN/Debug
Sources/BUSMASTER/Language Dlls/JPN/TestSuiteExecutorGUIJPN/Debug
Sources/Kernel/BusmasterDBNetwork/Debug
Sources/Kernel/BusmasterDriverInterface/DIL_J1939/Debug
Sources/Kernel/BusmasterDriverInterface/Debug
Sources/Kernel/BusmasterKernel/Debug
Sources/Kernel/Utilities/Debug
Sources/Kernel/Bin
*.user
# build directories
Sources/build
Sources/Format Converter/build
# Files in BIN (except hardware specific files)
Sources/BUSMASTER/BIN/*/*.bmp
Sources/BUSMASTER/BIN/*/*.c
Sources/BUSMASTER/BIN/*/*.chm
Sources/BUSMASTER/BIN/*/*.exe
Sources/BUSMASTER/BIN/*/*.h
Sources/BUSMASTER/BIN/*/*.ilk
Sources/BUSMASTER/BIN/*/*.pdb
Sources/BUSMASTER/BIN/*/*.tlb
Sources/BUSMASTER/BIN/*/AdvancedUIPlugin.dll
Sources/BUSMASTER/BIN/*/BUSMASTER.Build.CppClean.log
Sources/BUSMASTER/BIN/*/CAN_ETAS_BOA.dll
Sources/BUSMASTER/BIN/*/CAN_ETAS_BOA_1_4.dll
Sources/BUSMASTER/BIN/*/CAN_ETAS_BOA_1_5.dll
Sources/BUSMASTER/BIN/*/CAN_ETAS_BOA_2.dll
Sources/BUSMASTER/BIN/*/CAN_ICS_neoVI.dll
Sources/BUSMASTER/BIN/*/CAN_i-View.dll
Sources/BUSMASTER/BIN/*/CAN_ISOLAR_EVE_VCAN.dll
Sources/BUSMASTER/BIN/*/CAN_IXXAT_VCI.dll
Sources/BUSMASTER/BIN/*/CAN_IXXAT_VCI.map
Sources/BUSMASTER/BIN/*/CAN_Kvaser_CAN.dll
Sources/BUSMASTER/BIN/*/CAN_MHS.dll
Sources/BUSMASTER/BIN/*/CAN_NSI.dll
Sources/BUSMASTER/BIN/*/CAN_STUB.dll
Sources/BUSMASTER/BIN/*/CAN_Vector_XL.dll
Sources/BUSMASTER/BIN/*/CAN_VSCOM.dll
Sources/BUSMASTER/BIN/*/Changelog.txt
Sources/BUSMASTER/BIN/*/ConfigDialogsDIL.dll
Sources/BUSMASTER/BIN/*/ConverterPlugins/AscLogConverter.dll
Sources/BUSMASTER/BIN/*/ConverterPlugins/CAPL2CConverter.dll
Sources/BUSMASTER/BIN/*/ConverterPlugins/CAPL2CConverterJPN.dll
Sources/BUSMASTER/BIN/*/ConverterPlugins/DBC2DBFConverter.dll
Sources/BUSMASTER/BIN/*/ConverterPlugins/DBC2DBFConverterLibrary.dll
Sources/BUSMASTER/BIN/*/ConverterPlugins/DBF2DBCConverter.dll
Sources/BUSMASTER/BIN/*/ConverterPlugins/J1939DBC2DBFConverter.dll
Sources/BUSMASTER/BIN/*/ConverterPlugins/LogAscConverter.dll
Sources/BUSMASTER/BIN/*/ConverterPlugins/LogToExcelConverter.dll
Sources/BUSMASTER/BIN/*/ConverterPlugins/LogToExcelConverterJPN.dll
Sources/BUSMASTER/BIN/*/DIL_Interface.dll
Sources/BUSMASTER/BIN/*/BusmasterDriverInterface.dll
Sources/BUSMASTER/BIN/*/BusmasterKernel.dll
Sources/BUSMASTER/BIN/*/FormatConverterJPN.dll
Sources/BUSMASTER/BIN/*/DIL_J1939.dll
Sources/BUSMASTER/BIN/*/DMGraph.dll
Sources/BUSMASTER/BIN/*/DMGraph.exp
Sources/BUSMASTER/BIN/*/DMGraph.lib
Sources/BUSMASTER/BIN/*/Filter.dll
Sources/BUSMASTER/BIN/*/FlexRay_ETAS_BOA_1_4.dll
Sources/BUSMASTER/BIN/*/FlexRay_ETAS_BOA_1_5.dll
Sources/BUSMASTER/BIN/*/FlexRay_ETAS_BOA_2.dll
Sources/BUSMASTER/BIN/*/FrameProcessor.dll
Sources/BUSMASTER/BIN/*/LIN_ETAS_BOA.dll
Sources/BUSMASTER/BIN/*/LIN_ISOLAR_EVE_VLIN.dll
Sources/BUSMASTER/BIN/*/LIN_PEAK_USB.dll
Sources/BUSMASTER/BIN/*/LIN_Vector_XL.dll
Sources/BUSMASTER/BIN/*/mhsbmcfg.dll
Sources/BUSMASTER/BIN/*/NodeSimEx.dll
Sources/BUSMASTER/BIN/*/PSDI_CAN.dll
Sources/BUSMASTER/BIN/*/ProjectConfiguration.dll
Sources/BUSMASTER/BIN/*/Replay.dll
Sources/BUSMASTER/BIN/*/SigGrphWnd.dll
Sources/BUSMASTER/BIN/*/SignalDefiner.dll
Sources/BUSMASTER/BIN/*/SignalWatch.dll
Sources/BUSMASTER/BIN/*/TXWindow.dll
Sources/BUSMASTER/BIN/*/TXWindowFlexRay.dll
Sources/BUSMASTER/BIN/*/TXWindowLIN.dll
Sources/BUSMASTER/BIN/*/TestSetupEditorGUI.dll
Sources/BUSMASTER/BIN/*/TestSuiteExecutorGUI.dll
Sources/BUSMASTER/BIN/*/UDS_Protocol.dll
Sources/BUSMASTER/BIN/*/qwebp.dll
Sources/BUSMASTER/BIN/*/qwbmp.dll
Sources/BUSMASTER/BIN/*/qtaccessiblewidgets.dll
Sources/BUSMASTER/BIN/*/qtiff.dll
Sources/BUSMASTER/BIN/*/qtga.dll
Sources/BUSMASTER/BIN/*/Qt5Widgets.dll
Sources/BUSMASTER/BIN/*/qsvg.dll
Sources/BUSMASTER/BIN/*/qoffscreen.dll
Sources/BUSMASTER/BIN/*/Qt5Core.dll
Sources/BUSMASTER/BIN/*/qmng.dll
Sources/BUSMASTER/BIN/*/qminimal.dll
Sources/BUSMASTER/BIN/*/Qt5Gui.dll
Sources/BUSMASTER/BIN/*/qico.dll
Sources/BUSMASTER/BIN/*/qdds.dll
Sources/BUSMASTER/BIN/*/qjpeg.dll
Sources/BUSMASTER/BIN/*/qjp2.dll
Sources/BUSMASTER/BIN/*/qgif.dll
Sources/BUSMASTER/BIN/*/qicns.dll
Sources/BUSMASTER/BIN/*/icuuc52.dll
Sources/BUSMASTER/BIN/*/icuin52.dll
Sources/BUSMASTER/BIN/*/icudt52.dll
Sources/BUSMASTER/BIN/*/qwindows.dll
Sources/BUSMASTER/BIN/*/platforms/qwindows.dll
Sources/BUSMASTER/BIN/*/DBManager.dll
Sources/BUSMASTER/BIN/*/JPN
Sources/BUSMASTER/BIN/Libs/*/*.exp
Sources/BUSMASTER/BIN/Libs/*/CAN_ETAS_BOA.lib
Sources/BUSMASTER/BIN/Libs/*/CAN_ETAS_BOA_1_4.lib
Sources/BUSMASTER/BIN/Libs/*/CAN_ETAS_BOA_1_5.lib
Sources/BUSMASTER/BIN/Libs/*/CAN_ETAS_BOA_2.lib
Sources/BUSMASTER/BIN/Libs/*/CAN_i-VIEW.lib
Sources/BUSMASTER/BIN/Libs/*/CAN_ISOLAR_EVE_VCAN.lib
Sources/BUSMASTER/BIN/Libs/*/CAN_IXXAT_VCI.lib
Sources/BUSMASTER/BIN/Libs/*/CAN_ICS_neoVI.lib
Sources/BUSMASTER/BIN/Libs/*/CAN_Kvaser_CAN.lib
Sources/BUSMASTER/BIN/Libs/*/CAN_MHS.lib
Sources/BUSMASTER/BIN/Libs/*/CAN_NSI.lib
Sources/BUSMASTER/BIN/Libs/*/CAN_PEAK_USB.lib
Sources/BUSMASTER/BIN/Libs/*/CAN_STUB.lib
Sources/BUSMASTER/BIN/Libs/*/CAN_Vector_XL.lib
Sources/BUSMASTER/BIN/Libs/*/CAN_VSCOM.lib
Sources/BUSMASTER/BIN/Libs/*/CommonClass.lib
Sources/BUSMASTER/BIN/Libs/*/ConfigDialogsDIL.lib
Sources/BUSMASTER/BIN/Libs/*/DIL_Interface.lib
Sources/BUSMASTER/BIN/Libs/*/DIL_J1939.lib
Sources/BUSMASTER/BIN/Libs/*/DataTypes.lib
Sources/BUSMASTER/BIN/Libs/*/Filter.lib
Sources/BUSMASTER/BIN/Libs/*/FlexRay_ETAS_BOA_1_4.lib
Sources/BUSMASTER/BIN/Libs/*/FlexRay_ETAS_BOA_1_5.lib
Sources/BUSMASTER/BIN/Libs/*/FlexRay_ETAS_BOA_2.lib
Sources/BUSMASTER/BIN/Libs/*/FrameProcessor.lib
Sources/BUSMASTER/BIN/Libs/*/NodeSimEx.lib
Sources/BUSMASTER/BIN/Libs/*/PSDI_CAN.lib
Sources/BUSMASTER/BIN/Libs/*/ProjectConfiguration.lib
Sources/BUSMASTER/BIN/Libs/*/Replay.lib
Sources/BUSMASTER/BIN/Libs/*/SigGrphWnd.lib
Sources/BUSMASTER/BIN/Libs/*/SignalDefiner.lib
Sources/BUSMASTER/BIN/Libs/*/SignalWatch.lib
Sources/BUSMASTER/BIN/Libs/*/TXWindow.lib
Sources/BUSMASTER/BIN/Libs/*/TXWindowLIN.lib
Sources/BUSMASTER/BIN/Libs/*/TestSetupEditorGUI.lib
Sources/BUSMASTER/BIN/Libs/*/TestSetupEditorLib.lib
Sources/BUSMASTER/BIN/Libs/*/TestSuiteExecutorGUI.lib
Sources/BUSMASTER/BIN/Libs/*/UDS_Protocol.lib
Sources/BUSMASTER/BIN/Libs/*/Utils.lib
Sources/BUSMASTER/BIN/Libs/*/qwebp.dll
Sources/BUSMASTER/BIN/Libs/*/qwbmp.dll
Sources/BUSMASTER/BIN/Libs/*/qtaccessiblewidgets.dll
Sources/BUSMASTER/BIN/Libs/*/qtiff.dll
Sources/BUSMASTER/BIN/Libs/*/qtga.dll
Sources/BUSMASTER/BIN/Libs/*/Qt5Widgets.dll
Sources/BUSMASTER/BIN/Libs/*/qsvg.dll
Sources/BUSMASTER/BIN/Libs/*/qoffscreen.dll
Sources/BUSMASTER/BIN/Libs/*/Qt5Core.dll
Sources/BUSMASTER/BIN/Libs/*/qmng.dll
Sources/BUSMASTER/BIN/Libs/*/qminimal.dll
Sources/BUSMASTER/BIN/Libs/*/Qt5Gui.dll
Sources/BUSMASTER/BIN/Libs/*/qico.dll
Sources/BUSMASTER/BIN/Libs/*/qdds.dll
Sources/BUSMASTER/BIN/Libs/*/qjpeg.dll
Sources/BUSMASTER/BIN/Libs/*/qjp2.dll
Sources/BUSMASTER/BIN/Libs/*/qgif.dll
Sources/BUSMASTER/BIN/Libs/*/qicns.dll
Sources/BUSMASTER/BIN/Libs/*/icuuc52.dll
Sources/BUSMASTER/BIN/Libs/*/icuin52.dll
Sources/BUSMASTER/BIN/Libs/*/icudt52.dll
Sources/BUSMASTER/BIN/Libs/*/qwindows.dll
Sources/BUSMASTER/BIN/Libs/*/platforms/qwindows.dll
Sources/BUSMASTER/BIN/Libs/*/DBManager.dll

Sources/BUSMASTER/EXTERNAL/DmGraph/DMGraph.h
Sources/BUSMASTER/EXTERNAL/DmGraph/DMGraph_i.c
Sources/BUSMASTER/EXTERNAL/DmGraph/DMGraph_p.c

Sources/BUSMASTER/LDFEditor/GeneratedFiles
Sources/BUSMASTER/LDFViewer/GeneratedFiles
Sources/BUSMASTER/LDFViewer/GeneratedFiles

Sources/BUSMASTER/BIN/Release/canal.dll
Sources/BUSMASTER/BIN/Release/CAN_RUSOKU.dll
Sources/BUSMASTER/BIN/Release/LIN_Kvaser.dll
Sources/BUSMASTER/BIN/Release/mhstcan.dll
Sources/BUSMASTER/BIN/Release/ConverterPlugins

# CMake build dirs
Sources/BUSMASTER/BIN/*.sln
Sources/BUSMASTER/BIN/*.vcxproj*
Sources/BUSMASTER/BIN/Sources
Sources/BUSMASTER/BIN/Win32
Sources/BUSMASTER/BIN/CMakeFiles
Sources/BUSMASTER/BIN/*.cmake
Sources/BUSMASTER/BIN/*.txt
Sources/BUSMASTER/BIN/.qt/
Sources/BUSMASTER/BIN/x64/

# packaging
packaging/NovoBusAnalyzer_Cleanup_Registry.exe
packaging/NovoBusAnalyzer_Installer_Ver_*.exe

# Documents
Documents/1 Development Environment/out
Documents/1 Development Environment/temp
Documents/2 Requirement Specification/out
Documents/2 Requirement Specification/temp
Documents/3 Design Document/out
Documents/3 Design Document/temp
Documents/4 Help/out
Documents/4 Help/temp
Documents/4 Help_New/out
Documents/4 Help_New/temp
Documents/5 Source Code Documentation/out

# Tests
Tests/AStyle/new.txt
Tests/AStyle/report.html
Tests/AutoIt/*/out
Tests/AutoIt/report.html
Tests/CCCC/files.txt
Tests/CCCC/report
Tests/Cppcheck/cppcheck.xml
Tests/Cppcheck/report
Tests/PMD/cpd.html
Tests/PMD/cpd.xml
Tests/PMD/cpd-fixed.xml
Tests/Requirements Traceability Matrix/report.html
